{% extends "base.html" %}

{% block content %}
<div class="hero-section">
    <h1>¿A dónde querés viajar hoy?</h1>
    <p>Encontrá personas que hacen tu misma ruta y compartí gastos.</p>
</div>

<div class="search-card">
    <form action="/buscar" method="GET">
        <label>Origen</label>
        <select name="origen" required>
            <option value="" disabled selected>Seleccioná origen</option>
            <option value="Leones">Leones</option>
            <option value="Marcos Juarez">Marcos Juarez</option>
            <option value="Rosario">Rosario</option>
            <option value="Cordoba">Cordoba</option>
            <option value="Villa Maria">Villa Maria</option>
            <option value="Bell ville">Bell ville</option>
        </select>

        <label>Destino</label>
        <select name="destino" required>
            <option value="" disabled selected>Seleccioná destino</option>
            <option value="Leones">Leones</option>
            <option value="Marcos Juarez">Marcos Juarez</option>
            <option value="Rosario">Rosario</option>
            <option value="Cordoba">Cordoba</option>
            <option value="Villa Maria">Villa Maria</option>
            <option value="Bell ville">Bell ville</option>
        </select>

        <label>Fecha</label>
        <input type="date" name="fecha">
        
        <button type="submit" class="btn-search" style="width:100%; margin-top:15px;">Buscar Viajes</button>
    </form>
</div>
{% endblock %}
